---
---

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: local('Lato Light'),
       local('Lato-300'),
       url('../assets/fonts/Lato-300/Lato-300.woff2') format('woff2'),
       url('../assets/fonts/Lato-300/Lato-300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato Regular'),
       local('Lato-regular'),
       url('../assets/fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('../assets/fonts/Lato-regular/Lato-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato Bold'),
       local('Lato-700'),
       url('../assets/fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('../assets/fonts/Lato-700/Lato-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: local('Lato Black'),
       local('Lato-900'),
       url('../assets/fonts/Lato-900/Lato-900.woff2') format('woff2'),
       url('../assets/fonts/Lato-900/Lato-900.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: normal;
  src: local('Merriweather'),
       local('Merriweather Regular'),
       url('../assets/fonts/Merriweather.woff2') format('woff2')
}

@import "minima";

body, .footer-heading {
  font-family: 'Lato',
}

body {
  font-size: 17px;
}

h1, h2, h3, .post-meta {
  font-family: 'Merriweather';
}

.wrapper {
  max-width: calc(740px - (30px * 2));
}

blockquote {
  font-size: 21px;
}

main {
  font-size: 17px;
}

.site-header {
}

.site-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
  transition: opacity 0.25s ease;
  @include relative-font-size(0.8);

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

@media (min-width: 360px) {
  .site-title {
    @include relative-font-size(1.2);
  }
}

@media (min-width: 600px) {
  .site-title {
    @include relative-font-size(1.5);
  }
}

video {
  width: 100%;
  max-width: 100%;
  outline: none;
}
